<header class="header">
    <div class="wrapper">

      <h1 class="title"><a href="/">{{ site.name }}</a></h1>
      <h2 class="title"><a href="/">{{ site.name }}</a></h2>
        <nav class="nav">
            <input type="checkbox" id="nav-trigger" class="nav-trigger" />
            <label for="nav-trigger"></label>
            <ul role="dropdown" class="navbar">
                <li class="nav-item"><a href="../about.html">Om oss</a></li>
                <li class="nav-item"><a href="../project.html">Prosjektet</a></li>
                <li class="nav-item"><a href="../projectdiary.html">Dagbok</a></li>
                <li class="nav-item"><a href="../contact.html">Kontakt</a></li>
            </ul>


            <!--<div id="hamburger"></div>-->
        </nav>

    </div>
</header>
